<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Конфигуратор изделий</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #f4f4f9;
        }
        .back-button {
            position: absolute;
            top: 10px;
            left: 10px;
            padding: 10px 15px;
            font-size: 16px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .back-button:hover {
            background-color: #0056b3;
        }
        .container {
            display: flex;
            width: 80%;
            height: 80%;
            border: 1px solid #ccc;
            background-color: #fff;
        }

        .item-list, .item-types, .item-details {
            padding: 20px;
            overflow-y: auto;
        }

        .item-list {
            width: 20%;
            border-right: 1px solid #ccc;
        }

        .item-types {
            width: 20%;
            border-right: 1px solid #ccc;
        }

        .item-details {
            width: 60%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .item-list ul, .item-types ul {
            list-style: none;
            padding: 0;
        }

        .item-list li, .item-types li {
            cursor: pointer;
            padding: 5px;
            border-radius: 3px;
            transition: background-color 0.3s, color 0.3s;
        }

        .item-list li:hover, .item-types li:hover {
            background-color: #ddd;
        }

        .hidden {
            display: none;
        }

        .name-type {
            cursor: pointer;
            font-weight: bold;
            padding: 8px;
            border-radius: 3px;
            transition: background-color 0.3s, color 0.3s;
        }

        .name-type:hover {
            background-color: #f0f0f0;
        }

        .name-type.active {
            background-color: #007bff;
            color: white;
        }

        .name-type ul {
            margin-top: 5px;
            margin-left: 20px;
            padding-left: 0;
            list-style: none;
        }

        .inner_name-type.selected {
            background-color: #007bff;
            color: white;
            font-weight: bold;
        }

        .image-frame {
            width: 80%;
            height: 50%;
            border: 1px solid #ccc;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
            background-color: #f9f9f9;
        }

        .input-group {
            display: flex;
            flex-direction: column;
            width: 80%;
        }

        .input-group label {
            margin-top: 10px;
            font-weight: bold;
        }

        .input-group input {
            padding: 5px;
            margin-top: 5px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }

        .submit-button {
            margin-top: 20px;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            background-color: #28a745;
            color: white;
            border: none;
            border-radius: 5px;
            transition: background-color 0.3s;
        }

        .submit-button:hover {
            background-color: #218838;
        }
    </style>
</head>
<body>

<button class="back-button" onclick="history.back()">Назад</button>

<div class="container">
    <!-- Список изделий -->
    <div class="item-list">
        <h4>{{goods_compositions_data}}</h4>
        <h4>{{parameters_data}}</h4>
        <h4>{{first_good}}</h4>
        <h3>Список изделий {{calc_number}}</h3>
        <ul id="productList">
            {% for good in goods %}
                <li data-product-id="{{ good.id }}" data-name="{{ good.bitrix_goods_name }}" onclick="loadItemTypes(this)">{{ good.bitrix_goods_name }}</li>
            {% endfor %}
        </ul>
    </div>

    <!-- Виды изделий -->
    <div class="item-types">
        <h3>Виды изделий</h3>
        <ul id="itemTypesList">
            <!-- Виды товаров загружаются динамически -->
        </ul>
    </div>

    <!-- Детали изделия -->
    <div class="item-details">
        <div class="image-frame">
            Картинка выбранного изделия
        </div>
        <div id='paramsContainer' class="input-group"></div>
        <div id='PriceContainer'></div>

        <div class="input-group">
            <label for="calculationName">Название калькуляции:</label>
            <input type="text" id="calculationName" placeholder="Введите название калькуляции">
        </div>

        <button class="submit-button">Создать</button>
    </div>
</div>

<!-- <div class="company-search">
    <h3>Поиск компании</h3>
    <div class="input-group">
        <label for="companySearch">Поиск компании:</label>
        <input type="text" id="companySearch" oninput="filterCompanies()" placeholder="Введите название компании">
    </div>
    <ul id="companyList"></ul>
    <button id="getUserNameButton">Получить имя</button>
    <button id="getCompanyButton" onclick="getCompanies()">Получить компании</button>
</div> -->

</body>
</html>


<script src="https://api.bitrix24.com/api/v1/"></script>
<script>
let dealId_from_bx = null; // Глобальная переменная для хранения ID сделки

let selectedProductId = null;
let selectedProductName = null;

function loadItemTypes(element) {
    const productId = element.getAttribute("data-product-id");
    const productName = element.getAttribute("data-name");
    selectedProductId = productId;
    selectedProductName = productName;

    const itemTypesList = document.getElementById("itemTypesList");

    // Если виды уже отображаются для текущего продукта, скрываем их
    if (element.classList.contains("active")) {
        itemTypesList.innerHTML = ""; // Очищаем список видов
        element.classList.remove("active");
        return;
    }

    // Убираем активный класс с других продуктов
    const productListItems = document.querySelectorAll("#productList li");
    productListItems.forEach(item => item.classList.remove("active"));

    // Добавляем активный класс для текущего продукта
    element.classList.add("active");

    // Загружаем данные через AJAX
    fetch(`/get-item-types/${productId}/`)
        .then(response => response.json())
        .then(data => {
            // Очищаем список видов перед добавлением новых
            itemTypesList.innerHTML = "";

            for (const [nameType, types] of Object.entries(data)) {
                const nameTypeElement = document.createElement("li");
                nameTypeElement.classList.add("name-type");
                nameTypeElement.textContent = nameType;

                const typeList = document.createElement("ul");
                typeList.classList.add("hidden");

                types.forEach(type => {
                    const typeElement = document.createElement("li");
                    typeElement.textContent = type;
                    typeElement.classList.add("inner_name-type");  // Adding the class
                    typeElement.onclick = () => toggleSelection(type, nameType, typeElement); // Adding the click handler
                    typeList.appendChild(typeElement);
                });


                // Добавляем nameTypeElement и typeList как отдельные элементы
                itemTypesList.appendChild(nameTypeElement);
                itemTypesList.appendChild(typeList);

                // Однократный клик для открытия списка типов
                nameTypeElement.onclick = () => toggleTypes(typeList);
                // Двойной клик для сворачивания всех видов этого продукта
                nameTypeElement.ondblclick = () => collapseProductTypes();
            }
        })
        .catch(error => console.error("Ошибка загрузки видов товаров:", error));
}

function toggleTypes(typeList) {
    if (typeList.classList.contains("hidden")) {
        typeList.classList.remove("hidden");
    } else {
        typeList.classList.add("hidden");
    }
}

function collapseProductTypes() {
    const itemTypesList = document.getElementById("itemTypesList");
    itemTypesList.innerHTML = ""; // Скрыть все виды товаров для текущего продукта
}

// Массив для хранения всех выбранных элементов
let selectedItems = [];

// Управление выделением элементов
function toggleSelection(type, nameType, typeElement) {
    console.log('клик' + type, nameType, typeElement);
    if (!typeElement) {
        console.error('Element is null or undefined');
        return;
    }

    // Переключаем выделение элемента
    if (typeElement.classList.contains('selected')) {
        typeElement.classList.remove('selected');
    } else {
        typeElement.classList.add('selected');
    }

    // Обновляем параметры для всех выбранных элементов
    fetchParametersForSelectedTypes(nameType);
}

// Обновление параметров для всех выделенных элементов
function fetchParametersForSelectedTypes(nameType) {
    const parametersProductContainer = document.getElementById('paramsContainer');

    // Собираем все выделенные типы товаров и их родителей
    const selectedTypes = Array.from(document.querySelectorAll('.inner_name-type.selected'))
        .map(li => {
            const parentLi = li.closest('ul').previousElementSibling; // Ищем предыдущий элемент <li class="name-type">
            return {
                type: li.textContent.trim(),
                parent: parentLi ? parentLi.textContent.trim() : '' // Получаем текст родителя
            };
        });

    console.log("Выбранные типы товаров с родителями:", selectedTypes);

    // Формируем запрос с передачей всех выделенных типов и их родителей
    const url = selectedTypes.length > 0
        ? `/api/parameters_product_bitrix/?goods_id=${selectedProductId}&bitrix_goods_name=${selectedProductName}&name_type_of_goods=${nameType}&selected_types=${JSON.stringify(selectedTypes)}`
        : `/api/parameters_product_bitrix/?goods_id=${selectedProductId}&bitrix_goods_name=${selectedProductName}&name_type_of_goods=${nameType}`;

    fetch(url)
        .then(response => response.json())
        .then(data => {
            parametersProductContainer.innerHTML = ''; // Очищаем контейнер с параметрами

            if (data.parameters && Array.isArray(data.parameters)) {
                // Создаем форму с параметрами
                data.parameters.forEach(param => {
                    const label = document.createElement('label');
                    label.innerHTML = `
                        <span>${param.name}:</span>
                        <input type="text" name="${param.name}" value="" placeholder="Введите значение для ${param.name}">
                    `;
                    const inputField = label.querySelector('input');
                    inputField.addEventListener('input', () => {
                        sendParameterDataToServer();
                    });
                    parametersProductContainer.appendChild(label);
                    parametersProductContainer.appendChild(document.createElement('br'));
                });
            } else {
                parametersProductContainer.innerHTML = '<p>Нет параметров для отображения.</p>';
            }
        })
        .catch(error => {
            console.error("Ошибка при загрузке параметров:", error);
            parametersProductContainer.innerHTML = '<p>Произошла ошибка при загрузке параметров.</p>';
        });
}


function submitForm() {
    const width = document.getElementById("width").value;
    const height = document.getElementById("height").value;
    alert(`Создано изделие с размерами: ширина - ${width}, высота - ${height}`);
}

// Локальные переменные для хранения данных
let currentParameters = {};
let currentFinalPrice = 0;
let operationsFullprices = [];

// Функция отправки параметров на сервер
function sendParameterDataToServer() {
    const productParameters = Array.from(document.querySelectorAll('#paramsContainer input'))
        .reduce((params, input) => {
            if (input.value) {
                params[input.name] = parseFloat(input.value) || input.value;
            }
            return params;
        }, {});
    
    const selectedTypes = Array.from(document.querySelectorAll('.inner_name-type.selected'))
        .map(li => {
            const parentLi = li.closest('ul').previousElementSibling; // Ищем предыдущий элемент <li class="name-type">
            return {
                type: li.textContent.trim(),
                parent: parentLi ? parentLi.textContent.trim() : '' // Получаем текст родителя
            };
        });
    
    const parentUl = document.querySelector('#productList'); // Выбираем <ul> с id="productList"
    const activeLi = parentUl.querySelector('li.active'); // Выбираем <li> с классом "active"

    const selectedProductId = activeLi ? activeLi.getAttribute('data-product-id') : null; // Получаем значение data-product-id

    fetch('/api/update_parameters_product_bitrix/', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': getCookie('csrftoken')
        },
        body: JSON.stringify({
            product_parameters: productParameters,
            selectedTypes: selectedTypes,
            selectedProductId: selectedProductId
        })
    })
    .then(response => response.json())
    .then(data => {
        // Сохраняем данные в локальные переменные
        currentParameters = {
            price_material: data.price_material,
            price_add_material: data.price_add_material,
            price_salary: data.price_salary,
            price_payroll: data.price_payroll,
            price_overheads: data.price_overheads,
            price_cost: data.price_cost,
            price_profit: data.price_profit,
            price_salary_fund: data.price_salary_fund,
            price_final_price: data.total_final_price,
        };
        operationsFullprices = data.operations_fullprices;
        parameters_dict = data.parameters_dict;
        currentFinalPrice = Math.floor(data.total_final_price);
        console.log(parameters_dict)
        // Обновляем интерфейс
        const container2 = document.getElementById('PriceContainer');
        container2.innerHTML = ''; // Очищаем контейнер
        const finalPriceElement = document.createElement('div');
        finalPriceElement.textContent = `Общая стоимость: ${currentFinalPrice} руб.`;
        container2.appendChild(finalPriceElement);

        console.log(`Итоговая Цена: ${currentFinalPrice} руб.`);
    })
    .catch(error => {
        console.error('Error sending parameter data to server:', error);
    });
}



function createDealInBitrix() {
    const container = document.getElementById('PriceContainer');
    const priceText = container.textContent;
    const price = priceText ? parseFloat(priceText.replace('Общая стоимость: ', '')) : null;
    console.log(price)
    if (!price) {
        alert('Цена не найдена, невозможно создать сделку');
        return;
    }

    fetch('/create-deal/', {  // URL эндпоинта вашего Django-приложения
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': getCsrfToken(),  // Убедитесь, что CSRF-токен передается
        },
        body: JSON.stringify({ price: price })
    })
    .then(response => response.json())
    .then(data => {
        console.log('Ответ от сервера:', data);
        if (data.deal_id) {
            alert('Сделка успешно создана! ID сделки: ' + data.deal_id);
        } else {
            alert('Ошибка при создании сделки: ' + (data.error || 'Неизвестная ошибка'));
        }
    })
    .catch(error => {
        console.error('Error:', error);
        alert('Произошла ошибка при создании сделки.');
    });
}
function getCsrfToken() {
    // Функция для получения CSRF-токена
    const cookies = document.cookie.split(';');
    for (let cookie of cookies) {
        const [name, value] = cookie.trim().split('=');
        if (name === 'csrftoken') {
            return value;
        }
    }
    return '';
}

function createAuthorizationModal(message, authorizationUrl) {
    // Создаем фоновый затемнённый блок
    const modalBackdrop = document.createElement('div');
    modalBackdrop.style.position = 'fixed';
    modalBackdrop.style.top = '0';
    modalBackdrop.style.left = '0';
    modalBackdrop.style.width = '100%';
    modalBackdrop.style.height = '100%';
    modalBackdrop.style.backgroundColor = 'rgba(0, 0, 0, 0.5)';
    modalBackdrop.style.zIndex = '1000';

    // Создаем модальное окно
    const modal = document.createElement('div');
    modal.style.position = 'fixed';
    modal.style.top = '50%';
    modal.style.left = '50%';
    modal.style.transform = 'translate(-50%, -50%)';
    modal.style.backgroundColor = '#fff';
    modal.style.padding = '20px';
    modal.style.borderRadius = '8px';
    modal.style.boxShadow = '0 4px 8px rgba(0, 0, 0, 0.1)';
    modal.style.zIndex = '1001';
    modal.style.width = '90%';
    modal.style.maxWidth = '400px';
    modal.style.textAlign = 'center';

    // Текст сообщения
    const messageText = document.createElement('p');
    messageText.textContent = message;
    messageText.style.marginBottom = '20px';

    // Ссылка на авторизацию
    const authLink = document.createElement('a');
    authLink.href = authorizationUrl;
    authLink.textContent = 'Перейти к авторизации';
    authLink.style.color = '#007BFF';
    authLink.style.textDecoration = 'none';
    authLink.target = '_blank';

    // Кнопка закрытия модального окна
    const closeButton = document.createElement('button');
    closeButton.textContent = 'Закрыть';
    closeButton.style.marginTop = '20px';
    closeButton.style.padding = '10px 20px';
    closeButton.style.border = 'none';
    closeButton.style.backgroundColor = '#007BFF';
    closeButton.style.color = '#fff';
    closeButton.style.borderRadius = '4px';
    closeButton.style.cursor = 'pointer';

    closeButton.addEventListener('click', () => {
        document.body.removeChild(modalBackdrop);
        document.body.removeChild(modal);
    });

    // Добавляем элементы в модальное окно
    modal.appendChild(messageText);
    modal.appendChild(authLink);
    modal.appendChild(closeButton);

    // Добавляем модальное окно и фон в документ
    document.body.appendChild(modalBackdrop);
    document.body.appendChild(modal);
}
function getUserCurrent() {
    Authoritation()
    console.log("Starting getUserCurrent request...");

    fetch('/api/user-current/', {
        method: 'GET',
        headers: {
            'X-CSRFToken': getCsrfToken(),
        },
    })
    .then(response => {
        console.log("Response received:", response);
        return response.json();
    })
    .then(data => {
        console.log("Parsed JSON data:", data);

        if (data.user_name) {
            console.log("User name received:", data.user_name);
            alert('Имя пользователя: ' + data.user_name);
        } else if (data.error) {
            console.error("Error from API:", data.error);
            alert('Ошибка получения данных: ' + data.error);
        }

        if (data.bitrix_id) {
            console.log("Bitrix ID received:", data.bitrix_id);
            alert('Bitrix ID: ' + data.bitrix_id);
        }
    })
    .catch(error => {
        console.error("Fetch error:", error);
        alert('Произошла ошибка запроса. Проверьте соединение с сервером.');
    });
}

function createAuthorizationModal(message, authorizationUrl) {
    console.log("Creating authorization modal...");
    console.log("Message:", message);
    console.log("Authorization URL:", authorizationUrl);

    const modalBackdrop = document.createElement('div');
    modalBackdrop.style = `
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1000;
    `;

    const modal = document.createElement('div');
    modal.style = `
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: white;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 90%;
        max-width: 400px;
        text-align: center;
        z-index: 1001;
    `;

    const messageText = document.createElement('p');
    messageText.textContent = message;
    modal.appendChild(messageText);

    const authLink = document.createElement('a');
    authLink.href = authorizationUrl;
    authLink.textContent = 'Перейти к авторизации';
    authLink.style = 'color: #007BFF; text-decoration: none;';
    authLink.target = '_blank';
    modal.appendChild(authLink);

    const closeButton = document.createElement('button');
    closeButton.textContent = 'Закрыть';
    closeButton.style = `
        display: block;
        margin: 20px auto 0;
        padding: 10px 20px;
        background: #007BFF;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    `;
    closeButton.addEventListener('click', () => {
        document.body.removeChild(modalBackdrop);
        document.body.removeChild(modal);
        console.log("Modal closed.");
    });
    modal.appendChild(closeButton);

    document.body.appendChild(modalBackdrop);
    document.body.appendChild(modal);

    console.log("Authorization modal created successfully.");
}


// document.getElementById('getUserNameButton').addEventListener('click', getUserCurrent);

function filterClients() {
        const searchValue = document.getElementById("clientSearch").value.toLowerCase();
        const clientItems = document.querySelectorAll("#clientList li");
        
        clientItems.forEach(item => {
            const clientName = item.textContent.toLowerCase();
            if (clientName.includes(searchValue)) {
                item.style.display = "block";
            } else {
                item.style.display = "none";
            }
        });
    }
    function filterCompanies() {
        const searchValue = document.getElementById("companySearch").value.toLowerCase();
        const companyItems = document.querySelectorAll("#companyList li");
        
        companyItems.forEach(item => {
            const companyName = item.textContent.toLowerCase();
            if (companyName.includes(searchValue)) {
                item.style.display = "block";
            } else {
                item.style.display = "none";
            }
        });
    }

    function getCompanies() {
        fetch('/api/get-companies/', {
            method: 'POST',
            headers: {
                'X-CSRFToken': getCsrfToken(),
            },
        })
        .then(response => response.json())
        .then(data => {
            const companyListElement = document.getElementById('companyList');
            companyListElement.innerHTML = ''; // Очистить предыдущий список
            data.companies.forEach(company => {
                const listItem = document.createElement('li');
                listItem.textContent = company.name;
                companyListElement.appendChild(listItem);
            });
        })
        .catch(error => {
            console.error('Error fetching companies:', error);
        });
    }

    function Authoritation() {
    console.log("Authoritation...");

    fetch('/authoritation', {
        method: 'GET',
        headers: {
            'X-CSRFToken': getCsrfToken(),
        },
    })
    .then(response => {
        console.log("Response received:", response);
        return response.json();
    })
    .then(data => {
        console.log("Parsed JSON data:", data);

        if (data.user_name) {
            console.log("User name received:", data.user_name);
            alert('Имя пользователя: ' + data.user_name);
        } else if (data.error) {
            console.error("Error from API:", data.error);

            // Если есть ссылка авторизации
            if (data.authorization_url) {
                const companySearchDiv = document.querySelector('.company-search');
                if (companySearchDiv) {
                    // Создание кнопки с ссылкой
                    const errorMessage = document.createElement('div');
                    errorMessage.innerHTML = `
                        <p>Ошибка получения данных: ${data.error}</p>
                        <a href="${data.authorization_url}" target="_blank" class="btn btn-primary">Авторизоваться</a>
                    `;
                    errorMessage.id = "authorizationErrorMessage";
                    errorMessage.style.marginTop = "10px";
                    errorMessage.style.padding = "10px";
                    errorMessage.style.border = "1px solid #f00";
                    errorMessage.style.backgroundColor = "#ffe6e6";

                    // Удаляем старое сообщение, если оно уже существует
                    const existingMessage = document.getElementById("authorizationErrorMessage");
                    if (existingMessage) {
                        existingMessage.remove();
                    }

                    // Добавляем новое сообщение внутрь блока
                    companySearchDiv.appendChild(errorMessage);
                }
            } else {
                alert('Ошибка получения данных: ' + data.error);
            }
        }

        if (data.bitrix_id) {
            console.log("Bitrix ID received:", data.bitrix_id);
            alert('Bitrix ID: ' + data.bitrix_id);
        }
    })
    .catch(error => {
        console.error("Fetch error:", error);
        alert('Произошла ошибка запроса. Проверьте соединение с сервером.');
    });
}

    document.addEventListener("DOMContentLoaded", () => {
        function getDealIdFromParent() {
            // Проверяем доступность Bitrix24 JS API
            if (typeof BX24 !== 'undefined' && BX24.placement) {
                // Получаем информацию о текущем размещении приложения
                const placementInfo = BX24.placement.info();

                // Проверяем, что приложение размещено на странице сделки
                if (placementInfo.placement === 'CRM_DEAL_DETAIL_TAB') {
                    // Извлекаем ID сделки из параметров
                    dealId_from_bx = placementInfo.options.ID;
                    console.log('ID сделки из Bitrix24:', dealId_from_bx);
                    
                    // Получаем информацию о текущем пользователе
                    BX24.callMethod('user.current', {}, function (result) {
                        if (result.error()) {
                            console.error('Ошибка получения информации о пользователе:', result.error());
                        } else {
                            const userInfo = result.data();
                            console.log('Информация о текущем пользователе:', userInfo);

                            // Извлекаем необходимые данные о пользователе
                            const userId = userInfo.ID; // ID пользователя
                            const userName = `${userInfo.NAME} ${userInfo.LAST_NAME}`; // Полное имя пользователя

                            // Формируем URL с учетом ID сделки и ID/имени пользователя
                            const calculationListUrl = `https://reklamaoko.ru/calculation_list?deal_id=${dealId_from_bx}&user_id=${dealId_from_bx}&user_name=${encodeURIComponent(userName)}`;
                            console.log('Ссылка на список калькуляций:', calculationListUrl);

                            // Устанавливаем обновленный URL для кнопки
                            const headerButton = document.querySelector('.header-button');
                            if (headerButton) {
                                headerButton.href = calculationListUrl; // Устанавливаем ссылку
                            }
                        }
                    });
                } else {
                    console.warn('Приложение не размещено в CRM_DEAL_DETAIL_TAB');
                }
            } else {
                console.error('Bitrix24 JS API недоступен');
            }
        }
        if(BX24){
            BX24.init(() => {
            getDealIdFromParent();
        });
        } else {
            // Authoritation()
        }
        // Инициализируем API и выполняем извлечение ID

    });

// Добавляем обработчик для кнопки создания калькуляции
document.querySelector('.submit-button').addEventListener('click', function () {
    console.log(dealId_from_bx);
    const calculationName = document.getElementById('calculationName').value;

    if (!calculationName) {
        alert("Пожалуйста, введите название калькуляции.");
        return;
    }

    if (!dealId_from_bx) {
        alert("ID сделки не был загружен. Повторите попытку.");
        return;
    }

    // Используем сохраненные данные для создания калькуляции
    fetch('/api/create-calculation/', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': getCookie('csrftoken')
        },
        body: JSON.stringify({
            name: calculationName,
            ...currentParameters, // Передаем сохраненные данные
            operations_fullprices: operationsFullprices,
            parameters_dict: parameters_dict,
            dealId: dealId_from_bx, // Используем загруженный ID сделки
        }),
    })
    .then(response => {
        if (response.ok) {
            return response.json();
        } else {
            return response.json().then(errorData => {
                throw new Error(errorData.error || 'Ошибка при создании калькуляции.');
            });
        }
    })
    .then(data => {
        alert(`Калькуляция "${data.name}" успешно создана.`);
        
        // Редирект на страницу списка калькуляций
        window.location.href = '/calculation_list';  // Замените на URL вашего списка калькуляций
    })
    .catch(error => {
        console.error('Ошибка:', error);
        alert('Не удалось создать калькуляцию: ' + error.message);
    });
});


// Функция для получения CSRF-токена из cookie
function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.startsWith(name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

</script>

</body>
</html>
